html{
	box-sizing: border-box;
	background: #ffc600;
	font-size: 20px;
}
body{
	margin: 0;
}
*, *:before, *:after{
	box-sizing: inherit;
}
.panels{
	min-height: 100vh;
	overflow: hidden;
	display: flex;
}
.panel{
	background: #6b0f9c;
	box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
	color: white;
	text-align: center;
	align-items: center;
	transition: 
		font-size .7s ease-in, 
		flex .7s ease-in-out, 
		background .2s;
	font-size: 20px;
	background-size: cover;
	background-position: center;
	flex: 1;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;

}
.panel1{
	background-image: url(./img/london.jpg);
}
.panel2{
	background-image: url(./img/monschau.jpg);
}
.panel3{
	background-image: url(./img/paris.jpg);
}
.panel4{
	background-image: url(./img/amsterdam.jpg);
}
.panel5{
	background-image: url(./img/maastricht.jpg);
}
.panel > * {
	margin: 0;
	width: 100%;
	transition: transform .5s;
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.panel > *:first-child{
	transform: translateY(-100%);
}
.panel.open-active > *:first-child{
	transform: translateY(0%);
}
.panel > *:last-child{
	transform: translateY(100%);
}
.panel.open-active > *:last-child{
	transform: translateY(0%);
}

.panel p{
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
	font-size: 2em;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.72);
}
.panel p:nth-child(2){
	font-size: 4em;
}
.panel.open{
	font-size: 40px;
	flex: 5;
}
.cta{
	color: white;
	text-decoration: none;
}